@import url('https://fonts.googleapis.com/css?family=Cinzel|Crimson+Text|Open+Sans');

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}

.navbar-fixed {
    z-index: 10000;
}

.brand-logo {
    font-family: 'Cinzel', serif;
    color: #C5B358 !important;
    letter-spacing: 5px;
    font-size: 22px !important;
}

nav {
    background-color: #212121;
}

#nav-mobile {
    height: 100vh !important;
    background-color: #212121 !important;
}

#nav-mobile a {
    color: white !important;
    opacity: 0.2 !important;
    font-weight: 100 !important;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
}

nav ul li a {
    opacity: 0.2 !important;
    font-weight: 100 !important;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
}

#sidenav-overlay {
}

.button-collapse {
    float: right !important;
    opacity: 0.2;
}

.parallax-container {
    height: 100vh;
}

.genreOverlay, .card-image {
    display: block;
    position: relative;
}

.genreOverlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(20, 20, 20, 0.5), 
    rgba(0, 0, 0, 1));
}

.card-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(250, 221, 91, 0.452), 
    rgba(20, 20, 20, 9));
}

#sidenav-overlay {
    background: linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(250, 211, 91, 0.6)) !important;
}

#archiveCard img {
    min-height: 200px;
    max-height: 200px; 
}

recentArticleHeader .card-image img {
    min-height: none !important;
    max-height: none !important;
}

.card-title {
    z-index: 1337;
    letter-spacing: 3px;
    font-family: 'Crimson Text', serif;
}

.card-image .card-title {
    font-size: 32px !important;
    font-family: 'Cinzel', serif;
}

.archiveCard {
    display: none;
}

.cardIntro {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    word-break: break-all;
    color: #424242;
    opacity: 0.9;
}

#recentCont .cardIntro {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card-content p a, .card-action a {
    color: #C5B358 !important;
    font-size: 16px;
    transition: all 0.3s !important;
}

.card-content p a:hover, .card-action a:hover {
    opacity: 0.5;
}

#headingCont {
    position: absolute;
    z-index: 996;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel', serif;
    color: white;
    text-align: center;
}

#heading {
    letter-spacing: 10px;
    color: #C5B358;
}

#headingCont #headingMonth {
    letter-spacing: 5px;
    opacity: 0.5;
}

#headingCont #headingYear {
    letter-spacing: 5px;
}

#headingCont p {
    letter-spacing: 5px;
    opacity: 0.7;
    width: 80%;
    margin: 0 auto;
}

#headingCont h2 {
    margin-top: 1%;
}

#recentTxt {
    color: #424242;
    letter-spacing: 2px;
    padding-bottom: 40px;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 100px;
    border-bottom: 1px solid #e0e0e0;
}

#recentCont {
    margin-bottom: 10%;
    margin-top: 10%;
}

#recentCont .card .card-image .card-title {
    font-size: 22px !important;
}

.tabs {
    overflow-x: hidden;
    background-color: #fafafa !important;
}
.tabs .tab a {
    color: #424242 !important;
    letter-spacing: 2px;
}

.tabs .indicator {
    background-color: #424242 !important;
}

.collection-item {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    color: #C5B358 !important;
}

#layoutTitle {
    margin-top: 10%;
    letter-spacing: 5px;
    font-family: 'Crimson Text', serif;
}

#layoutBody {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 1em 0;
    padding: 0;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

#shareHr {
    margin-bottom: 0;
    margin-top: 6%;
    margin-bottom: 5%;
}

#footerHr {
    border-top: 1px solid #424242;
}

#share {
    margin-bottom: 15% !important;
}

#shareHeading {
    color: #424242;
}

#shareSubTxt {
    margin-top: 15px;
    color: #9e9e9e;
}

.social-icon {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}

footer {
    margin-top: 5%;
    background: #2E2E2E !important;
}

.footer-copyright {
    background: #212121 !important;
    color: #9e9e9e !important;
    padding-top: 15px !important;
    letter-spacing: 1.5px;
}

.footer-copyright a {
    color: #9e9e9e !important;
    font-size: 14px;
    font-weight: 400;
}

#footerHeading {
    color: #C5B358;
    letter-spacing: 5px;
    font-family: 'Cinzel', serif;
}

#footerIntro {
    letter-spacing: 1px;
    font-size: 14px;
    color: #bdbdbd;
    opacity: 0.7;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

footer i {
    font-size: 45px !important;
}

footer .facebook {
    color:#3b5998;
}

footer .linkedin {
    color: #0077B5;
}

footer .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer ul li {
    display: inline !important;
    margin-bottom: 10px !important;
}

footer ul li a {
    float: right;
    margin-left: 30px;
}

#footerLinks {
    margin-top: 60px !important;
}

footer a img {
    position: relative;
    margin-bottom: -4px !important;
    max-height: 20px;
    width: 20px;
    margin-right: 1px;
    transition: all 0.3s;
}

@media only screen and (max-width: 1100px) {
    #recentCont .card .card-image .card-title {
        font-size: 16px !important;
    }
    
}

@media only screen and (max-width: 1000px) {
    footer #footerIntro {
        max-width: 60%;
    }

    #recentCont .card .card-image .card-title {
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 600px) {
    #headingCont {
        top: 30%;

    }

    #heading {
        font-size: 30px;
    }

    #headingCont p {
        width: 100%;
    }

    #archiveCard img {
        min-height: none !important;
        max-height: none !important; 
    }

    footer #footerIntro {
        max-width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #share div {
        margin-bottom: 20px;
    }

    #layoutBody {
        font-size: 14.5px;
    }

    .brand-logo {
        font-size: 18px !important;
    }

    #shareHeading {
        font-size: 18px;
    }
}
